<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block pageTitle %}PartyPlanner{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('build/global.css') }}" />
        {% endblock %}
    </head>
    <body>
        <!-- Nav -->
        <nav class="navbar navbar-inverse navbar-default navbar-static-top navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li {% if app.request.attributes.get('_route') == 'home' %}class="active"{% endif %}><a href="{{ path('home') }}">Home</a></li>
                <li {% if app.request.attributes.get('_route') == 'signin' %}class="active"{% endif %}><a href="{{ path('signin') }}">Sign in</a></li>
                <li {% if app.request.attributes.get('_route') == 'signup' %}class="active"{% endif %}><a href="{{ path('signup') }}">Sign up</a></li>
            </ul>
        </nav>

        <!-- Content -->
        <h1>{% block title %}{% endblock %}</h1>
        <div class="container-fluid">
            {% block body %}
            <div id="flash">
                {% if errorBag is defined %}
                    {% for error in errorBag %}
                    <div class="alert alert-danger">{{ error }}</div>
                    {% endfor %}
                {% endif %}

                {% if infoBag is defined %}
                    {% for info in infoBag %}
                    <div class="alert alert-success">{{ info }}</div>
                    {% endfor %}
                {% endif %}
            </div>
            {% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
