<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>{% block pageTitle %}PartyPlanner{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="{{ asset('css/main.css') }}" />
        {% endblock %}
    </head>
    <body>
        <!-- Nav -->
        <nav class="navbar navbar-inverse navbar-default navbar-static-top navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li {% if app.request.attributes.get('_route') == 'home' %}class="active"{% endif %}><a href="{{ path('home') }}">Home</a></li>
                {% if app.user %}
                <li {% if app.request.attributes.get('_route') == 'profile' %}class="active"{% endif %}><a href="{{ path('profile', {'id' : app.user.id}) }}">Profile</a></li>
                <li {% if app.request.attributes.get('_route') == 'signout' %}class="active"{% endif %}><a href="{{ path('signout') }}">Sign out</a></li>
                {% else %}
                <li {% if app.request.attributes.get('_route') == 'signin' %}class="active"{% endif %}><a href="{{ path('signin') }}">Sign in</a></li>
                <li {% if app.request.attributes.get('_route') == 'signup' %}class="active"{% endif %}><a href="{{ path('signup') }}">Sign up</a></li>
                {% endif %}
            </ul>
        </nav>

        <!-- Content -->
        <h1>{% block title %}{% endblock %}</h1>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    {% block body %}
                    <div id="flash">
                        {% block flash %}
                        {% for message in app.flashes('success') %}
                        <div class="alert alert-success">{{ message }}</div>
                        {% endfor %}
                        {% for message in app.flashes('error') %}
                        <div class="alert alert-danger">{{ message }}</div>
                        {% endfor %}
                        {% endblock %}
                    </div>
                    {% endblock %}
                </div>
            </div>
        </div>
        {% block javascripts %}{% endblock %}
    </body>
</html>
