{% form_theme eventForm 'bootstrap_3_layout.html.twig' %}

{% extends 'base.html.twig' %}

{% block pageTitle %}Create an event - {{ parent() }}{% endblock %}

{% block title %}Create an event{% endblock %}

{% block body %}
    {{ parent() }}

    {{ form_start(eventForm) }}
        {{ form_errors(eventForm) }}
        {{ form_widget(eventForm) }}

        <div class="text-center">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    {{ form_end(eventForm) }}
{% endblock %}